<div class="info-content">
  <section class="dashboard">
    <div class="right">Em dia: 0</div>
    <div class="atention">Atenção: 0</div>
    <div class="critical">Crítico: 0</div>
  </section>

  <section class="tableData">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Equipamento</th>
            <th>Próxima Revisão</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each equipments}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.next_revision_date}}</td>
              <td><span class="badge">{{this.status}}</span></td>
              <td>
                <form action="/equipments/delete" method="post">
                  <input type="hidden" name="id" value="{{this.id}}" />
                  <input type="submit" value="Excluir" class="btn-action" />
                </form>
                <a
                  href="/equipments/revised/{{this.id}}"
                  class="btn-action"
                >Revisar</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>